@model UserViewModel
@using OA.UIMVC.Models

<form asp-action="AddUser" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add User" })
    <div class="modal-body form-horizontal">

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="FirstName" class="form-control" />
                    
                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="LastName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" type="email"/>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="UserName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Password" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control" type="password"/>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Address" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Address" class="form-control" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    @await Html.PartialAsync("_ModalFooter" , new ModalFooter { ButtonName = "Add User" })

</form>
