@model UserViewModel
@using OA.UIMVC.Models

<form asp-action="AddUser" role="form">
    @*@await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add User" })*@

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body form-horizontal">

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="FirstName" class="form-control" />
                    
                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="LastName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" type="email"/>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="UserName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Password" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control" type="password"/>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group">
                <label asp-for="Address" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Address" class="form-control" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    @await Html.PartialAsync("_ModalFooter")

</form>




@*<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="UserName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Address" class="form-control" />
                </div>
            </div>
        </div>
    </div>*@


@*<div class="modal-content">

        <div class="modal-body mx-3">
            <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form34" class="form-control validate">
                <label data-error="wrong" data-success="right" for="form34">Your name</label>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="form29" class="form-control validate">
                <label data-error="wrong" data-success="right" for="form29">Your email</label>
            </div>

            <div class="md-form mb-5">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form32" class="form-control validate">
                <label data-error="wrong" data-success="right" for="form32">Subject</label>
            </div>

            <div class="md-form">
                <i class="fas fa-pencil prefix grey-text"></i>
                <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                <label data-error="wrong" data-success="right" for="form8">Your message</label>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
    </div>*@